<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-info navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item"><a class="navbar-brand" href="/donbang/dash"><img class="brand-logo" alt="" src="">
                        <h3 class="brand-text">축산의사결정시스템</h3>
                    </a></li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">                   
                    <li class="nav-item nav-search">                        
                      
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">                  
                    <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                        <span class="mr-1 user-name text-bold-700"><%=userObject.member_name%></span>
                        <span class="avatar avatar-online">                           
                        </span></a>
                        <div class="dropdown-menu dropdown-menu-right">                            
                            <%
                            if(userObject.member_gubun == "1"){
                        %>
                            <a class="dropdown-item" href="/todolist/calender_basic"><i class="ft-clipboard"></i> Todo</a>
                            <%}%>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="/member/logout"><i class="ft-power"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>