<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class=" nav-item"><a href="#"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="Project">설정</span></a>
                <ul class="menu-content">
                    <!-- <li><a class="menu-item" href="/donbang/livestock_info"><i></i><span data-i18n="Project Summary">농가정보관리</span></a>
                    </li>-->
                    <li><a class="menu-item" href="/donbang/donbanglist"><i></i><span data-i18n="Project Summary">축사/돈관리</span></a>
                    </li>
                    <li><a class="menu-item" href="/donbang/senserlist?gwid=1"><i></i><span data-i18n="Project Task">환경센서 관리</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="Project">농가정보관리</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/feed/feed_stat_hour"><i></i><span data-i18n="Project Summary">기간별 환경통계</span></a>
                    </li>                   
                    <li><a class="menu-item" href="/perlivestock/perlivestock_hour"><i></i><span data-i18n="Project Task">기간별 돈무게통계</span></a>
                    </li>                    
                    <li><a class="menu-item" href="/livestock/livestock?gwid=1"><i></i><span data-i18n="Project Task">가축입고/출하관리</span></a>
                    </li>                               
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="Project">이상데이터</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/feed/abnormal1"><i></i><span data-i18n="Project Summary">저성장개체 </span></a>
                    </li>                   
                    <li><a class="menu-item" href="/feed/abnormal2"><i></i><span data-i18n="Project Task">평균 체중 이하 개체</span></a>
                    </li>                    
                    <li><a class="menu-item" href="/feed/abnormal3"><i></i><span data-i18n="Project Task">저사료 개체</span></a>
                    </li>
                    <li><a class="menu-item" href="/feed/abnormal4"><i></i><span data-i18n="Project Task">이상온도</span></a>
                    </li>  
                    <li><a class="menu-item" href="/feed/abnormal5"><i></i><span data-i18n="Project Task">이상습도</span></a>
                    </li>
                    <li><a class="menu-item" href="/feed/abnormal6"><i></i><span data-i18n="Project Task">이상가스</span></a>
                    </li>                 
                </ul>
            </li>
            
            <li class=" nav-item"><a href="#"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="Project">사료재고관리</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/feedstuff/feedstufflist"><i></i><span data-i18n="Project Summary">사료구매관리</span></a>
                    </li>
                    
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="Project">작업관리</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/todolist/calender_basic"><i></i><span data-i18n="Project Summary">작업일정관리</span></a>
                    </li>
                    <li><a class="menu-item" href="/todolist/calender_list"><i></i><span data-i18n="Project Task">작업메모관리</span></a>
                    </li>                    
                </ul>
            </li>

            <li class=" nav-item"><a href="#"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="Project">농가질문</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/todolist/bbs_list"><i></i><span data-i18n="Project Summary">농가질문답변</span></a>
                    </li>
                                    
                </ul>
            </li>

       
        </ul>
    </div>
</div>