<div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
    <ul class="nav navbar-nav alt-font font-weight-700">
        <li><a href="/carbon/carbon">탄소흡수량이란</a></li>
        <li><a href="/carbon/index" title="참여현황" class="inner-link">탄소흡수량 구매방법</a></li>
        <li><a href="/carbon/application" title="참여현황" class="inner-link">탄소흡수량 구매 및 참여신청</a></li>
        <li><a href="/carbon/index#03" title="파트너" class="inner-link">함께하는 사람들</a></li>
        <li><a href="/carbon/notice">공지사항</a></li>
    </ul>
</div>