<div class="menu-box">
    <div class="menu-head">
        <a href="javascript:;" onclick="menuClose();">닫기</a>
    </div>
    <div class="menu-body">
        <div class="menu-profile">
            <div>
                <img src="<%=userObject.member_pic%>">
                <p><%=userObject.member_nickname%></p>
            </div>
            <a href="/stamory/logout">Logout</a>
        </div>
        <div class="menu-category">
            <ul>
                <li><a href="/stamory/profile_01">프로필수정</a></li>
                <li><a href="/stamory/order">Point</a><a href="">(Subscribe) 200</a></li>
                <li><a href="/stamory/tutorial">튜토리얼</a></li>
                <li><a href="/stamory/my_reservation">구매계약</a></li>
                
                
                <li><a href="">Recharge point</a></li>
                <li><a href="">Transaction History</a></li>
                <li><a href="">Private Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Cacel Membership</a></li>
                <li><a href="">Restore Purchase</a></li>
                <li><a href="">Frequently Asked Questions</a></li>
                <li><a href="">Why i-STAM</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="menu-version">
            <p>V 3.01</p>
            <p>2024 ETERNERS all right reserved</p>
        </div>
    </div>
</div>